@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #ffd700;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 1.25em;
  font-size: 1.25rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  color: rgba(205, 235, 0, 0.75);
  transition: color 0.3s ease;
}

.nav-link span {
  margin-left: 5px;
}

.nav-link:hover {
  color: #ffd700;
}

.card {
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  padding: 40px 50px;
  margin: 20px 0;
  position: relative;
}

.card.reverse {
  background-color: rgba(205, 235, 0, 0.75);
  color: #000;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
  list-style: none;
}

.rating li,
.num-display {
  position: relative;
  background: rgba(205, 235, 0, 0.75);
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 2px #444 solid;
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover,
.num-display {
  background: #ffd700;
  color: #000;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  background: #ffd700;
  color: #000;
}

input::marker {
  display: none;
}

.input-group {
  display: flex;
  flex-direction: row;
  border: 1px solid #ffd700;
  padding: 8px 10px;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  border: none;
  font-size: 1rem;
  background-color: #333;
  color: #ffd700;
}

input:focus {
  outline: none;
}

.alert {
  font-size: 0.75rem;
  text-align: left;
  color: rgba(255, 0, 0, 0.95);
  margin-top: 0.5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
}

form button {
  margin: 0.5rem 0.25rem;
}

.feedback-stats {
  color: #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.primary {
  background-color: #ffd700;
  color: #000;
}

.secondary {
  background-color: #333;
  color: #ffd700;
}

.danger {
  background-color: #d9534f;
  color: #fff;
}

.modal-yes {
  background-color: #ffd700;
  color: #000;
}

.modal-no {
  background-color: #111;
  color: #fff;
}

.modal-close {
  background-color: #999;
  color: #fff;
}

.btn:disabled {
  background-color: #dddddd;
  color: #333;
  cursor: not-allowed;
}

.btn:hover:not(:disabled) {
  transform: scale(0.98);
  opacity: 0.9;
}
.message {
  padding-top: 10px;
  text-align: center;
  color: #ffd700;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link {
  display: flex;
  justify-content: flex-end;
}

/* FIX: Remove position: absolute to keep about icon at the bottom of the
 * document */
.about-link a {
  color: #ffd700;
  cursor: pointer;
}

.about-link a:hover {
  color: #ffd700;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #333;
  color: #ffd700;
  padding: 1em 2em;
  border-radius: 15px;
  text-align: center;
  width: 40%;
  font-size: 1.25rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-buttons {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Add some margin-top for better spacing */
}

.modal button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

a {
  color: rgba(205, 235, 0, 0.75);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffd700;
}

@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}
